body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: transparent;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    position: fixed;
    width: 100%;
    border-bottom: 3px solid black;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-input, #input-encriptado {
    text-transform: lowercase;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

.main {
    display: flex;
    justify-content:space-around;
    align-items:center;
    width: 100%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    flex: 1;
}

.main-encriptar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 35rem;
    border: 1px;
    border-radius: 5px;
    background-color: rgb(219, 219, 219);
}

.encriptarMensaje {
    margin: 10px;
}

#soloLetras {
    font-size: 12px;
}

#icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

/* Text input in */
.text-input, #input-texto {
    display: flex;
    text-align: justify;
    width: 95%;
    height: 25rem;
    border: 3px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    resize: none;
}

.main-btn_desencriptar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
    width: 100%;
    height: auto;
}

.main-btn_copiar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    height: auto;
}

.main-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 35rem;
    border: 3px;
    border-radius: 5px;
    background-color: rgb(219, 219, 219);
}

#btn-encriptar {
    width: 30%;
    height: 2rem;
    border: 2;
    border-radius: 5px;
    color: #ffffff;
    background-color: rgba(17, 21, 247, 0.671);
    margin-bottom: 1em;
    margin-top: 1em;
}


/* Text input out */
.text-input_salida {
    display: flex;
    text-align: justify;

    width: 95%;
    height: 25rem;
    border: 3px white;
    border-radius: 6px;
    resize: none;
}

#btn-copy, #btn-desencriptar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 2rem;
    border: 2;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.img-arrow {
    width: 4em;
    height: 10%;
}

.textInput_salida {
    width: 20%;
    height: 20rem;
    border: 3px rgb(0, 0, 0);
    border-radius: 6px;
    background-color: rgb(252, 253, 251);
    margin: 1em;
}

footer {
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(182, 180, 180);
    color: rgb(226, 10, 10);
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    position: relative;
}
